footer.footer 
    .footer__row.footer__row-top
        .footer__col.opacity_05 Этот сайт сделан в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col
            .footer__nav
                nav.menu.footer__menu
                    include ../common/menu.pug              
                .socials
                    include ../common/socials.pug
        .footer__col.footer__col_third.text_italic.opacity_05 Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            .text_bold-italic — Martin Golding
    .footer__row.footer__copyright © Мария Миронова | Создано&nbsp;с&nbsp;любовью&nbsp;в&nbsp;LoftSchool&nbsp;| 2017-2018