footer.footer 
    .footer__row.footer__row-top
        .footer__col.footer__about Этот сайт сделан в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col.footer__nav
            nav.menu.footer__menu
                include ../common/menu.pug                                               
            .socials.socials__rounded
            include ../common/socials.pug
        .footer__col.footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            .footer__quote-author — Martin Golding
    .footer__row.footer__copyright © Мария Миронова | Создано с любовью в LoftSchool | 2017-2018