header.header
    .header-top
        .header__socials
            ul.socials__list
                li.socials__item
                    a.socials__link(href="fb.com/encrem" target="_blank")
                        img.socials__pic(src="./assets/images/icons/fb.svg", alt="fb")
                li.socials__item
                    a.socials__link(href="vk.com/mirmary" target="_blank")
                        img.socials__pic(src="./assets/images/icons/vk.svg", alt="vk")
                li.socials__item
                    a.socials__link(href="github.com/miabangtta/" target="_blank")
                        img.socials__pic(src="./assets/images/icons/github.svg", alt="github")
                li.socials__item
                    a.socials__link(href="linkedin.com/" target="_blank")
                        img.socials__pic(src="./assets/images/icons/in.svg", alt="linkedin")
        .header__menu
            .menu__icon
                a.menu__link
                    img.menu__pic(src="./assets/images/icons/hamburger.svg", alt="menu")
            .menu
    .header__about 
        .header__avatar
            img.header__avatar-pic(src="./../images/content/myavatar.jpg" alt="avatar") 
        .header__name Мария Миронова
        p.header__occ Личный сайт веб-разработчика
    a.arrow-scroll
        img.arrow-scroll__img(src="./assets/ images/icons/arrow_down.svg")
   
    