section.section.hero
    .hero__socials
        include ../common/socials.pug
    .hero__menu(href="#")
        .hero__menu-icon
            span.hero__burger-line
            span.hero__burger-line
            span.hero__burger-line
        .menu
            include ../common/menu.pug
    .hero__user
        include ../common/user.pug
    .hero__arrow
        a.arrow-down(href="#")
            img.arrow-down__img(src="./assets/images/icons/arrow_down.svg")
   
    