section.section.hero
    .hero__socials
        include ../common/socials.pug
    a.hamburger.hero__menu(href="#")
        .hero__menu-icon
            img.hero__menu-pic(src="./assets/images/icons/hamburger.svg", alt="menu")
        .menu
            //- include ../common/menu.pug
    .hero__user
        include ../common/user.pug
    .hero__arrow
        a.arrow-down(href="#")
            img.arrow-down__img(src="./assets/images/icons/arrow_down.svg")
   
    