ul.menu__list 
    -
        var menu = [ 
            ['Мои работы', 'https://miabangtta.github.io/portfolio-build/my-works.html'],
            ['Обо мне', 'https://miabangtta.github.io/portfolio-build/about.html'],
            ['Блог', 'https://miabangtta.github.io/portfolio-build/blog.html'],
            ['В начало', 'https://miabangtta.github.io/portfolio-build/index.html']
        ]

    each item in menu
        li.menu__item 
            a.menu__link(href=`${item[1]}`) #{item[0]}  