.menu
    a.menu__close
        .menu__close-icon
    ul.menu__list 
        li.menu__item
            a.menu__link(href="/index.html") Главная
        li.menu__item
            a.menu__link(href="/about.html") Обо мне
        li.menu__item
            a.menu__link(href="/my-works.html") Мои работы
        li.menu__item
            a.menu__link(href="/blog.html") Блог