.slider-wrap
    ul#slides
        li.slide.showing
            img(src="./assets/images/content/airplanet.png", alt="airplanet")
        li.slide
            img(src="./assets/images/content/burgers.png", alt="burgers")
        li.slide
    .buttons
        button.button.controls#previous &lt;
        button.button.controls#next &gt;