.container
    ul#slides
        li.slide.showing
            img(src="./assets/images/icons/fb.svg", alt="fbbbb")
        li.slide
            img(src="./assets/images/icons/vk.svg", alt="vk")
        li.slide
    .buttons
        button.button.controls#previous &lt;
        button.button.controls#next &gt;