//- .preloader(style=`background: url('assets/images/content/forest_prel_bg.jpg') #163262 no-repeat center; background-size: cover; position: fixed; z-index: 10000; width: 100%; height: 100%; top: 0; left: 0;`)
//-     .preloader__spinner(style="display: none;")
//-         .preloader__animation
//-         .preloader__percents 0%

.spinner
    .spinner__wrap
        .spinner__percent 0%
        img.spinner__pic(src="assets/images/content/forest.svg", alt="spinner")