.user 
    // класс user формирует отображение, класс перед ним - для позиционирования
    .user__pic
        img.user__pic-img(src="./assets/images/content/avatar1.jpg" alt="avatar") 
    .user__info
        .user__name Мария Миронова
        .user__data Личный сайт веб-разработчика