.user 
    // класс user формирует отображение, класс перед ним - для позиционирования
    .user__pic(style="background-image:url(./assets/images/content/avatar.jpg)")
        img.user__pic-img.visuallyhidden(src="./assets/images/content/avatar.jpg" alt="avatar") 
    .user__info
        .user__name Мария Миронова
        .user__data Личный сайт веб-разработчика