
.margin_left_40 {
    margin-left: 40px;
}

.margin_bottom {
    &_10 {
        margin-bottom: 10px;
    }
    &_40 {
        margin-bottom: 40px;    
    }
}

.text_bold {
    font-family: 'Roboto-Bold';
}

.text_italic {
    font-family: 'Roboto-Italic';
}

.text_bold-italic {
    font-family: 'Roboto-BoldItalic';
}

.opacity_05 {
    opacity: .5;
}
