
.margin_left_40 {
    margin-left: 40px;
}

.text_font-family_bold {
    font-family: 'Roboto-Bold';
}

.text_font-family_italic {
    font-family: 'Roboto-Italic';
}

.text_font-family_bold-italic {
    font-family: 'Roboto-BoldItalic';
}

.opacity_05 {
    opacity: .5;
}
