html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", Arial, sans-serif;
    line-height: 1.42;
    background-color: #f4f5f0;
    color: $gray;
    -webkit-font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.section {
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 63px;
    text-transform: uppercase;
    font-family: "Sansus-Webissimo", Arial, Helvetica, sans-serif;
    margin: 70px 0;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Sansus-Webissimo", Arial, Helvetica, sans-serif;
    margin: 40px 0;
}

a {
    cursor: pointer;
    color: #6da3bd;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    &:hover {
        text-decoration: none;
    }
}

input {
    border-radius: 20px;
    border: 1px solid transparent;
    &:focus {
        border: 1px solid $fresh;
        outline: none;
    }
}

button {
    cursor: pointer;
    border: none;
    
    font-size: 16px;
    font-family: "Roboto-Medium";
    color: #fff;
    line-height: 45px;
    background-color: $light;
    transition: 0.3s;
    &:hover {
        background-color: $fresh;
    }
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
