html {
    height: 100%;
    font-size: 16px;

    @include tablets {
        font-size: 15px;
    }
    
    @include phones {
        font-size: 14px;
    }
}

body {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Roboto-Regular", Arial, sans-serif;
    line-height: 1.42;
    background-color: #f4f5f0;
    color: $gray;
    -webkit-font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.section {
    min-height: 100vh;
    height: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.block-title {
    font-size: 63px;
    text-transform: uppercase;
    font-family: "Sansus-Webissimo", Arial, Helvetica, sans-serif;
    margin: 70px 0;
    display: inline-block;
    position: relative;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        width: 90px;
        height: 5px;
        background-color: $gray;
    }
}

.block-subtitle {
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Sansus-Webissimo", Arial, Helvetica, sans-serif;
    margin: 40px 0;
    position: relative;
    display: inline-block;
    &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 90px;
        height: 5px;
        background-color: $gray;
    }
    &_centered {
        text-align: center;
    }
}

a {
    cursor: pointer;
    color: #6da3bd;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    &:hover {
        text-decoration: none;
    }
}

input {
    border-radius: 20px;
    border: 1px solid transparent;
    transition: 0.3s;
    &:focus {
        border: 1px solid $light;
        outline: none;
    }
}

.button {
    cursor: pointer;
    border: none;    
    font-size: 16px;
    font-family: "Roboto-Medium";
    color: #fff;
    line-height: 45px;
    background-color: $light;
    transition: 0.3s;
    &:hover {
        background-color: $fresh;
    }
    &:not(:last-child) {
        border-right: 1px solid #fff;
    }
}

.button_transparent {
    background-color: transparent;
    border: 1px solid #fff;
    &:hover {
        border: 1px solid $fresh;
    }
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
