extends ../template

block variables
    - var title = "Блог"

block content
    h1 Блог 
    ul
        li
            h2 Заголовок статьи
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit laudantium quidem, repellat ullam iure adipisci dolores distinctio tempore veritatis, velit harum nobis voluptate consequuntur enim maxime quo quae, minus quibusdam?
        li
            h2 Сегодня вам нужно узнать
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat doloribus deserunt consequuntur, dolores eligendi quam sunt eum ut, quas modi vero enim neque harum quo esse officia nam quidem consequatur.
        li
            h2 Очень важная информация
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis numquam deleniti itaque, qui facilis dolores neque illo alias accusamus assumenda consectetur nemo saepe, laboriosam aliquid libero nam perferendis consequuntur nobis.
            