extends ../template

block variables 
    - var title = "Добро пожаловать"

block content
    section.section.index
        .webgl
        button(type="button").button.index__auth.button_transparent Авторизоваться
        .index__block
            include ../common/user.pug
            include ../common/socials.pug            
            .index__btns
                a.index__btn(href="https://miabangtta.github.io/portfolio-build/my-works.html").button Мои работы
                a.index__btn(href="https://miabangtta.github.io/portfolio-build/about.html").button Обо мне
                a.index__btn(href="https://miabangtta.github.io/portfolio-build/blog.html").button Блог        
    .index__copyright © Мария Миронова | Создано с любовью в LoftSchool | 2017-2018