extends ../template

block variables 
    - var title = "Добро пожаловать"

block content
    section.section.index
        a.index__auth(href="https://miabangtta.github.io/portfolio-build/index-auth-temp.html")
            button.button(type="button").button_transparent Авторизоваться
        .index__block
            include ../common/user.pug
            include ../common/socials.pug            
            .index__btns
                a.index__btn-works(href="https://miabangtta.github.io/portfolio-build/my-works.html")
                    button.button(type="button") Мои работы
                a.index__btn-about(href="https://miabangtta.github.io/portfolio-build/about.html")
                    button.button(type="button") Обо мне
                a.index__btn-blog(href="https://miabangtta.github.io/portfolio-build/blog.html")
                    button.button(type="button") Блог        
    .index__copyright © Мария Миронова | Создано с любовью в LoftSchool | 2017-2018