extends ../template

block variables 
    - var title = "Добро пожаловать"

block content
    section.section.index
        .index__auth 
            button.button(type="button").button_transparent Авторизоваться
        .index__block
            include ../common/user.pug
            include ../common/socials.pug            
            .index__btns
                button.button.index__btn-works(type="button" href="/my-works.html") Мои работы
                button.button.index__btn-about(type="button" href="/about.html") Обо мне
                button.button.index__btn-blog(type="button" href="/blog.html") Блог        
    .index__copyright © Мария Миронова | Создано с любовью в LoftSchool | 2017-2018