extends ../template

block variables 
    - var title = "Добро пожаловать"

block content
    section.section.index
        .index__wrap
            .form__block
                form(action="form" method="post").form                                         
                    .block-subtitle Авторизуйтесь  
                    .form__auth              
                        .form__row
                            label(for="login").form__label-img
                                svg.form__label-icon
                                    use(xlink:href="assets/images/icons/sprite.svg#login")
                            input(name="login" id="login" placeholder="Логин").form__input.form__input-text.form__input_round-right
                        .form__row
                            label(for="password").form__label-img
                                svg.form__label-icon
                                    use(xlink:href="assets/images/icons/sprite.svg#password")
                            input(name="password" id="password" placeholder="Пароль").form__input.form__input-text.form__input_round-right
                    .form__inputs
                        .form__row.form__check
                            label(for="imahuman").form__label
                                input(type="checkbox" id="imahuman" name="human").form__input-checkbox
                                span.form__input-square
                                    span.form__input-check
                                span.form__label-text Я человек
                        .margin_bottom_10 Вы точно не робот?
                        .form__row
                            label(for="notarobot").form__label
                                input(type="radio" id="notarobot" name="robot").form__input.form__input-radio 
                                span.form__input-circle
                                    span.form__input-inner
                                span.form__label-text Да
                            label(for="mayberobot").form__label.margin_left_40
                                input(type="radio" id="mayberobot" name="robot").form__input.form__input-radio
                                span.form__input-circle
                                    span.form__input-inner
                                span.form__label-text Не уверен
                    .index__buttons
                        a(href="https://miabangtta.github.io/portfolio-build/index.html").button На главную
                        button.index__button.button(type="submit") Войти
    .index__copyright © Мария Миронова | Создано с любовью в LoftSchool | 2017-2018