block variables

<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(content="" name="description")
        meta(content="" name="keywords")
        title #{title}
        link(rel="stylesheet" href="./assets/styles/app.min.css")
        link(rel="icon" type="image/png" href="assets/images/content/fav_forest.png" sizes="16x16")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")    
        script(src="./assets/scripts/bundle.js" defer)
    body
        block content
        

