.about {
    display: flex;
    flex-direction: row;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.about__left {
    display: flex;
    background-color: #ebefe2;
    flex-direction: row;
    width: 50%;
    position: relative;

    @include tablets {
        width: 100%;
    }
}

.about__right {
    width: 50%;
    position: relative;

    @include tablets {
        width: 100%;
    }

    .block-subtitle {
        margin-left: auto;
        margin-right: auto; 
        max-width: 400px;
    }
}

.about__triangle_left, .about__triangle_right {
    @include tablets {
        display: none;
    }
}

.about__left-content {
    display: flex;
    flex-direction: row;
    & .section-title {
        width: 50%;

        @include desktop {
            width: 100%;
        }
    }

    @include tablets {
        flex-direction: column;
    }
}

.title-about {
    background-image: url(../images/icons/about_header.svg);
    height: 250px;
    background-size: 250px auto;
}

.user-desc {
    display: block;
    width: 50%;
    @include desktop {
        width: 100%;
    } 

    @include tablets {
        margin-bottom: 40px;
    }
}

.user-desc__avatar {
    height: 40%;
    overflow: hidden;
    text-align: center;
}

.user-desc__title {
    text-align: center;
}
.about__right-desc {
    margin-bottom: 50px;
}

.skills-list {
    display: flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
    }
}

.skills-row__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.skills-row__title {
    margin-bottom: 20px;
    font-size: 28px;
    @include tablets {
        text-align: center;
    } 
}

.skills-row__item {
    color: $fresh;
    font-family: 'Roboto-Bold';

    &:not(:last-child) {
        margin-right: 40px;
    }
}

.skill__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.map {    
    position: relative;
    // background-image: url('../images/content/mapbg.jpg');
    // background-size: cover;
}

.google-map {   
    height:400px;
    width:600px;
}

.map__data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(244,245,240,0.85);
    border-radius: 20px;
    overflow: hidden; 
    padding: 20px 50px;
}

.contacts-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.contacts-row__icon {
    margin-right: 10px;
}