.blog {
    display: flex;
    flex-direction: row;

    @include tablets {
        position: relative;
    }
}

.title-blog {
    .block-title:before {
        background-image: url(../images/icons/blog_header.svg);
    }
}

.blog__sidebar {
    width: 23%;
    margin-right: 7%;

    @include tablets {
        width: 100%;
        position: absolute;
        left: -800px;
        height: 100%;
        background-color: $light;
        &:after {
            @include circle(15px, $light);
            left: -50%;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &_visible {
            left: 0;
            top: 0;
            width: 80%;            
        }
    }    
}

.blog__headings-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blog__headings-link {
    font-size: 1rem;
    text-align: right;
    line-height: 40px;
    display: inline-block;
    color: $dark;
    padding-right: 15px;
    border-right: 2px solid transparent;
    margin-bottom: 20px;

    @include tablets {
        color: rgba(#fff, 0.7);
        text-align: center;
    }

    &:hover {
        font-family: "Roboto-Bold", Arial, sans-serif;
        color: $fresh;
        border-right: 2px solid $fresh;

        @include tablets {
            color: #fff;
            border: none;
            text-decoration: underline;
        }
    }
}

.blog__headings-item_active {
    .blog__headings-link {
        font-family: "Roboto-Bold", Arial, sans-serif;
        color: $fresh;
        border-right: 2px solid $fresh;

        @include tablets {
            color: #fff;
            text-decoration: underline;
            border: none;
        }
    }
}

.blog__content {
    width: 65%;
    @include tablets {
        width: 95%;
    }
}

.articles__item {
    margin-bottom: 70px;
    
    & p {
        margin-bottom: 70px;  
    }

    &:not(:last-child) {
        border-bottom: 5px solid #ecebe4; 
    }
}

.articles__title {
    font-family: 'Sansus-Webissimo', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 25px;
}

.articles__date {
    color: $fresh;
    margin-bottom: 25px;
}

