.blog {
    display: flex;
    flex-direction: row;

    @include tablets {
        position: relative;
    }
}

.title-blog {
    .block-title:before {
        background-image: url(../images/icons/blog_header.svg);
    }
}

.blog__sidebar {
    width: 250px;

    &_freeze {
        position: fixed;
        top: 30px;
        @include tablets {
            position: initial;
            top: initial;
        }        
    }

    @include tablets {
        top: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 0px;
        background-color: $light;
        z-index: 100;
        &-trigger {
            content: "";
            position: fixed;
            @include circle(50px, $light);
            left: -25px;
            top: 50vh;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 95;
        }
        &_visible {
            width: 80%;   
            
            & .blog__sidebar-trigger {
                left: 76%;

                @include phones {
                    left: 72%;
                }
            }
        }
    }    
}

.blog__headings-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablets {
        height: 100%;
        justify-content: center;
        margin-right: 10%;
    }
}

.blog__headings-link {
    font-size: 16px;
    text-align: right;
    line-height: 40px;
    display: inline-block;
    color: $dark;
    padding-right: 15px;
    border-right: 2px solid transparent;
    margin-bottom: 20px;

    &:hover {
        color: $fresh;
    }

    @include tablets {
        color: rgba(#fff, 0.7);
        text-align: center;

        &:hover {
            color: #fff;
        }
    }
}

.blog__headings-item_active {
    .blog__headings-link {
        font-family: "Roboto-Bold", Arial, sans-serif;
        color: $fresh;
        border-right: 2px solid $fresh;

        @include tablets {
            color: #fff;
            border: none;
        }
    }
}

.blog__content {
    width: 65%;    
    margin-left: auto;

    @include tablets {
        width: 95%;

        &_short {
            margin-left: 85%;
            overflow: hidden;
        }
    }
}

.articles__item {
    margin-bottom: 70px;
    
    & p {
        margin-bottom: 70px;  
    }

    &:not(:last-child) {
        border-bottom: 5px solid #ecebe4; 
    }
}

.articles__title {
    font-family: 'Sansus-Webissimo', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 25px;
}

.articles__date {
    color: $fresh;
    margin-bottom: 25px;
}

