.index {
    background-image: url('../images/content/forestbg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.webgl {
    height: 100%;
}

.index__auth {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 20px;
    padding: 0 25px;
}

 .form__block, .index__block {
    background-color: rgba(18, 38, 32, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    & .user {
        margin: 40px;
        text-align: center;
    }

    & .socials__list {
        margin: 0 25px 40px 25px;
    }
}

.index__btns {
    text-align: center;
    & button {
        line-height: initial;
    }
}

.index__btn {
    padding: 15px 30px;
    font-size: 16px;
}

// section form

.form {
    .index__btns {
        display: flex;
        a {
            white-space: nowrap;
            line-height: 1;
        }
    }

    .index__btn {
        flex: 1;
        padding: 15px 50px;
        line-height: 1;
        width: 50%;
    }
}

.form__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.form__input {
    width: 90%;
}

.form__input-text {
    height: 45px;
}
.form__input_login {
    &:before {
        background-color: #f0efe9;
        content: url("../images/icons/login.svg");
        height: 45px;
        width: 50px;
        display: block;
    }
}

.form__input-radio, .form__input-checkbox {
    left: -9999px;
    position: absolute;
}

.form__input-circle {
    @include circle(1rem, #fff);
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
    border: 1px solid transparent;
}

.form__input-inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: $fresh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
  }

.form__input-square {
    position: relative;
    display: inline-flex;
    align-items: center;
    content: "";
    width: 15px;
    height: 15px;
    background-color: $fresh;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.form__input-check {
    width: 0;
    height: 0;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    transition: .2s;
  }


.form__input-radio:checked + .form__input-circle .form__input-inner {
    width: 7px;
    height: 7px;
}

.form__input-radio:checked ~ .form__label-text {
    color: $fresh;
}

.form__input-checkbox:checked + .form__input-square .form__input-check {
  margin-left: 2px;
  margin-top: -1px;
  width: 8px;
  height: 5px;
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
}

.form__input-radio:focus + .form__input-circle {
    border-color: $light; 
}

.form__input-checkbox:focus + .form__input-square {
    border-color: $light;     
}

.index__copyright {
    color: #fff;
    width: 100%;
    height: 1rem;
    text-align: center;
    bottom: 1rem;
    position: absolute;
}