.index {
    background-image: url('../images/content/forestbg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}

.webgl {
    height: 100%;
}

.index__flip-button {
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 20px;
    padding: 0 25px;

    @include phones {       
        line-height: 39px;
        top: 41px;
        padding: 0 20px;
        font-size: 14px;
        right: auto;
        left: auto;
    }
}

.index__wrap {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000; 
}

.index__wrap_rotate .index__flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.index__flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.form__block, .index__block {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    
    overflow: hidden;    
    border-radius: 20px;    
    background-color: rgba(18, 38, 32, 0.6);
    
    & .user {
        margin: 40px;
        text-align: center;
    }

    & .socials__list {
        margin: 0 25px 40px 25px;
    }

    @include tablets {
        & .user {
            margin: 25px;
        }
    }
    @include phones {
        & .user {
            margin: 40px;
        }
    }
}


.index__block {    
	z-index: 2;
}

.form__block {
    -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.form__block, .index__block, .index__flipper, .form {
    width: 370px;
    height: 410px;

    @include tablets {
        height: 390px;
    }

    @include phones {
        width: 300px;
        height: 410px;
    }
}

.index__buttons {
    text-align: center;
    bottom: 0;
    & button {
        line-height: initial;
    }
}

.index__button {
    padding: 15px 30px;
    font-size: 16px;
    bottom: 0;

    @include phones {
        padding: 13px 18px;
    }
}

// section form
.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .block-subtitle {
        margin: 40px 70px;

        @include phones {
            margin: 30px 38px;
        }
    }
    .index__buttons {
        display: flex;
        width: 100%;
        a {
            white-space: nowrap;
            width: 50%;
        }
    }

    .index__button {
        padding: 0;
        width: 50%;
        // @include phones {
        //     padding: 0 16px;
        // }
    }
}

.form__inputs {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & .form__row {
        margin-bottom: 10px;
        @include tablets {
            margin-bottom: 10px;
        }
    }
}

.form__auth {
    .form__row:nth-child(1) {
        margin-bottom: 20px;
    }
    @include tablets {
    .form__row:nth-child(2) {
        margin-bottom: 15px;
    }
    }
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    @include phones {
        width: 90%;        
    }
}

.form__label-img {
    width: 45px;
    height: 45px;
    background: #f0efe9;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px 0 0 25px;
    position: relative;
}

.form__label-icon {
    fill: #c4cbcd; 
    position: absolute; 
    top: 14px; 
    left: 9px; 
    width: 31px; 
    height: 17px;
}

.form__input {
    width: 75%;
    padding: 8px 17px;
    &:focus {
        border: transparent;
    }
    
    @include phones {
        width: 90%;
    }
}

.form__input_round-right {
    border-radius: 0 20px 20px 0;
}

.form__input-text {
    height: 45px;
}
.form__input_login {
    &:before {
        background-color: #f0efe9;
        content: url("../images/icons/login.svg");
        height: 45px;
        width: 50px;
        display: block;
    }
}

.form__input-radio, .form__input-checkbox {
    left: -9999px;
    position: absolute;
}

.form__input-circle {
    @include circle(16px, #fff);
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
    border: 1px solid transparent;
}

.form__input-inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: $fresh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
  }

.form__input-square {
    position: relative;
    display: inline-flex;
    align-items: center;
    content: "";
    width: 15px;
    height: 15px;
    background-color: $fresh;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.form__input-check {
    width: 0;
    height: 0;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    transition: .2s;
  }


.form__input-radio:checked + .form__input-circle .form__input-inner {
    width: 7px;
    height: 7px;
}

.form__input-radio:checked ~ .form__label-text {
    color: $fresh;
}

.form__input-checkbox:checked + .form__input-square .form__input-check {
  margin-left: 2px;
  margin-top: -1px;
  width: 8px;
  height: 5px;
  border-bottom: solid 2px #fff;
  border-left: solid 2px #fff;
}

.form__input-radio:focus + .form__input-circle {
    border-color: $light; 
}

.form__input-checkbox:focus + .form__input-square {
    border-color: $light;     
}

.index__copyright {
    color: #fff;
    width: 100%;
    height: 1rem;
    text-align: center;
    bottom: 1rem;
    position: absolute;
    
    @include tablets {
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
}