.works {
    display: flex;
    flex-direction: column;
}

.works__demos {
    display: flex;
    flex-direction: row;
}

.works__name, .works__images {
    width: 50%;
}

.button-show {
    border-radius: 20px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.button-show__icon {
    margin-right: 10px;
}

.button-show__text {
    display: inline-flex;
}

.reviews {
    background-image: url('../images/content/messagebg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews__list {
    display: flex;
    flex-direction: row;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__content {
    font-family: "Roboto-Italic", Arial, sans-serif;
    font-style: italic;
}

.reviews__author {
    color: $fresh;
    font-family: "Roboto-BoldItalic", Arial, sans-serif;
    font-style: italic;
}

.reviews__occ {
    font-family: "Roboto-Italic", Arial, sans-serif;
    font-style: italic;
    &:before {
        content: "— ";
    }
}

.message__block {
    width: 380px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.message__title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.message__form {
    display: flex;
    flex-direction: column;
    input {
        height: 50px;
        padding: 15px;
        margin: 0 20px 20px 20px;
    }
}

.message__buttons {
    display: flex;
    flex-direction: row;
}

.message__send {
    width: 50%;
}

.message__clear {
    width: 50%; 
}