
.title-works {
    .block-title:before { 
    background-image: url('../images/icons/works_header.svg');
    }
}

.slider__link {
    text-decoration: none;
}

.slider__link-button {
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.slider__link-pic {
    margin-right: 10px;
}

.slider__link-text {
    display: inline-flex;
}

.title-reviews {
    line-height: 1;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    
    .block-title:before {
        background-image: url(../images/icons/about_header.svg);
    }
}

.reviews {
    background-image: url('../images/content/messagebg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;

    @include phones {
        flex-direction: column;
        margin-top: 15px;
    }
}

.reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-left: 20px;
    @include tablets {
        width: 50%;
    }

    @include phones {
        width: 95%;
        margin-bottom: 20px;
    }
}

.reviews__icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    @include phones {
        width: 60px;
        height: 60px;
    }
}

.reviews__content {
    font-family: "Roboto-Italic", Arial, sans-serif;
    margin-bottom: 30px;
}

.reviews__author {
    color: $fresh;
    font-family: "Roboto-BoldItalic", Arial, sans-serif;
    font-style: italic;
}

.reviews__occ {
    font-family: "Roboto-Italic", Arial, sans-serif;
    font-style: italic;
    &:before {
        content: "— ";
    }
}

.message {
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 150px;

    @include phones {
        margin-bottom: 100px;
    }
}

.message__title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.message__form {
    display: flex;
    flex-direction: column;
    background-color: rgba(#e9eae7, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
    input {
        height: 50px;
        padding: 15px;
        margin: 0 20px 20px 20px;
    }
    textarea  {
        resize: none;
        height: 120px;
        padding: 15px;
        margin: 0 20px 20px 20px;
    }
    @include phones {
        .section-subtitle {           
            font-size: 21px;
        }
    }
}

.message__buttons {
    display: flex;
    flex-direction: row;
    
    .button {
        padding: 0 50px;
    } 

    @include phones {
        .button {
            padding: 0 35px;
        }
    }
}