// style vars
$light: #6c9c5a;
$fresh: #4e8839; 
$gray: #566358;
$dark: #373e42;

// media
$large: 1800px;
$desktop: 1200px;
$tablets: 768px;
$phones: 480px;

@import 'config/*.scss';
@import 'common/*.scss';
@import 'pages/*.scss';