.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 190px;
}

.footer__row {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 15px;
}

.footer__row-top {
    min-height: 150px;
    background-color: rgba(55,62,66,0.85);
    padding: 30px 0 30px 0;

    @include tablets {
        display: inline-block;
    }
}

.footer__col {
    width: 33%;
    padding: 0 15px 0 15px;

    &:not(:last-child) {
        border-right: 1px solid rgba(#fff, 0.5);
    }

    @include tablets {
        width: 45%;
        display: inline-flex;

        &:nth-child(2) {
            border-right: none;
            margin-bottom: 30px;
        }
    }

    &_third {
        width: 33%;
        
        @include tablets {
            width: 100%;
            display: block;
            padding: 0 10px 0 10px;
        }
    }

    @include phones {
        width: 100%;
        border-left: none;
        padding: 20px;
        &:not(:last-child) {
        border-bottom: 1px solid rgba(#fff, 0.5);
        }
    }
}

.footer__nav {
    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.footer__menu {
    margin-bottom: 10px;
}

.footer__copyright {
    background-color: rgba(108, 156, 90, 0.85);
    min-height: 40px;
    line-height: 40px;
    justify-content: center;
    vertical-align: middle;
    color: rgba(#fff, 0.5);
    @include phones {
        padding: 10px 50px 10px 50px;
        text-align: center;
        line-height: 2rem;
    }
}