.hero {
    background-image: url('../images/content/forestbg.jpg');
    background-size: cover;
    position: relative;
    height: 100%;
    padding: 30px;
}

.hero__socials {
    position: absolute;
}

.hero__menu {
    position: absolute;
    top: 30px;
    right: 30px;
}

.hero__menu-icon {
    height: 40px;
    width: 40px;
}

.hero__user {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.arrow-down {
    display: inline-flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    opacity: 0.7;
    transition: 0.3s;
    z-index: 100;
    &:hover {
        opacity: 1;
    }    
}
