.hero__menu_active {
    .menu {
        background-color: rgba(108, 156, 90, 0.87);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .menu__list {    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
    }
        
    .menu__link {
        padding: 35px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 45px;
        white-space: nowrap;
        font-family: "Roboto-Bold", Arial, sans-serif;
        text-decoration: none;
        color: #fff;
        position: relative;

        @include desktop {
            font-size: 40px;
        }

        @include phones {
            font-size: 34px;
            padding: 25px 0;
        }

        &:hover {
            &:after {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                margin: auto;
                width: 90px;
                height: 5px;
                background-color: #fff;                
                transition: .3s;
            }
        }
    }
}

.footer__menu {
    .menu__list {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;      
    }

    .menu__item {
        &:not(:last-child) {
            margin-right: 40px;
            @include tablets {
                margin-right: 10px;
            }
        }
    }
    .menu__link {
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
