#slides{
    position: relative;
    height: 300px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.controls {
    // display: none;  на время откроем
} 

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: cover;
}

.slide:nth-of-type(1){
    background-image: url('');
}

.slide:nth-of-type(2){
    background-image: url('');
}

.slide:nth-of-type(3){
    background-image: url('');
}

.controls {
    background: #333;
}