
.slider {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    padding: 2%;
    background-color: #ebefe2;
    @include tablets {
        min-height: 100vh;
        flex-wrap: nowrap;
        padding: 1%;
    }
}

.slider__desc {
    color: $fresh;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.slider__display {
    position: relative;
    background-color: #ebefe2;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include tablets {
        margin-top: 50px;
    }
}

.slider__list {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    background-color: #ebefe2;
    display: flex;
    flex-direction: row;

    @include tablets {
        flex-direction: column;
    }
}


.slider__item_active{
    opacity: 1;
    z-index: 2;
}

.slider__image {
    width: 50%;
    @include tablets {
        // order: 2;
        width: 100%;
        height: 450px;        
    }

    @include phones {
        height: 200px;
    }
}

.slider__pic {
    content: "";
    margin: 0 auto;
    height: 100%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    @include tablets {
        background-size: contain;
    }
}

.slider__pic-avia {
    background-image: url('../images/content/airplanet.png');
}

.slider__pic-burger {
    background-image: url('../images/content/burgers.png');
}

.slider__pic-portfolio {
    background-image: url('../images/content/portfolio.png');
}

.slider__info {
    background-color: #ebefe2;
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;

    .block-subtitle {
        margin-bottom: 30px;
        text-align: left;
        &:after {
            margin: 0;
        }
    }

    @include tablets {
        align-items: center;
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        .block-subtitle {
            text-align: center;
            &:after {
                margin: 0 auto;
            }
        }
    } 
    
    @include phones {
        height: 260px;
        .block-subtitle {
            font-size: 24px;
            margin-bottom: 50px;
        }
    }   
}

.slider-nav {
    position: absolute;
    margin: 0 auto;
    bottom: 2%;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);

    @include tablets {
        display: none;
    }
}

.slider-nav__list {
    display: flex;
    flex-direction: row;
}

.slider-nav__item {
    margin-right: 17px;
    content: "";
    @include circle(12px, transparent);
    border: 1px solid $light;
    border-radius: 50%;
    cursor: pointer;
    &_active {
        background-color: $light;
    }
}

.slider__buttons {
    z-index: 50;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slider__controls_previous {
    left: 0;
    position: absolute;
}

.slider__controls_previous-pic {
    transform: rotate(90deg);
    fill: $light;
    width: 20px;
    height: 30px;
    &:hover {
        fill: $fresh;
    }
}

.slider__controls_next {
    right: 0;
    position: absolute;
}

.slider__controls_next-pic {
    transform: rotate(-90deg);
    fill: $light;
    width: 20px;
    height: 30px;
    &:hover {
        fill: $fresh;
    }
}