.socials__list {
    display: flex;
    flex-direction: row;
    @include tablets {
        flex-wrap: wrap;
    }
}

.socials__link {
    padding: 10px;
}

.socials__pic {
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: .3s;
    
    &:hover {
        fill: $fresh;
    }
}

.socials__rounded {
    .socials__pic {
        opacity: 0.5;
        
        
        &:hover {
            fill: #fff;
            opacity: 1;
        }
    }
}
