.socials__list {
    display: flex;
    flex-direction: row;
    @include tablets {
        flex-wrap: wrap;
    }
}

.socials__item {
    margin-right: 20px;
}

.socials__pic {
    width: 25px;
    height: 25px;
    fill: #fff;
    &:hover {
        fill: $fresh;
    }
}
