.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 30px;
    overflow: hidden;
}

.user__pic-img {
    max-width: 200%;
}

.user__info {
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.user__name {
    font-size: 35px;
    font-family: "Roboto-Medium", Arial, sans-serif;
    margin-bottom: 15px;
    @include phones {
        font-size: 23px;
    }
}

.user__data {
    font-family: "Roboto-Regular", Arial, sans-serif;
    font-size: 1rem;
}