.Background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
}

.Background-canvas {
   max-width: 100%;
   max-height: 100%;
}